// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import 'app.montserrat';
@import 'app.icomoon';
@import 'app.mixins';
@import 'app.tuesday';

/* Estilo dos cabeçalhos das telas */

ion-navbar {
    background-color: map-get($colors, secondary);

    .toolbar-title {
        color: #ffffff;
    }
    .back-button-icon {
        color: #ffffff;
    }
}


ion-content {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3f4c6b+0,1a7b99+100 */
  background: #3f4c6b; /* Old browsers */
  background: -moz-linear-gradient(top, #3f4c6b 0%, #1a7b99 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #3f4c6b 0%,#1a7b99 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3f4c6b 0%,#1a7b99 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#1a7b99',GradientType=0 ); /* IE6-9 */

  .content {
    padding: 15px;
  }
}

body {
  // font-family: 'montserratregular', sans-serif;
}

.box {
  background: color($colors, descriptionlabel);
  padding: 15px;
  border-radius: 3px;
  -webkit-box-shadow: 6px 7px 20px -6px rgba(0,0,0,0.72);
  -moz-box-shadow: 6px 7px 20px -6px rgba(0,0,0,0.72);
  box-shadow: 6px 7px 20px -6px rgba(0,0,0,0.72);
  color: #FFF;

  &.white {
    background: #FFF;
  }

  margin-bottom: 20px;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #D4A57D;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: #FFF;
  font-size: 30px !important;

  &.mini {
    float: left;
    width: 40px;
    height: 40px;
    font-size: 15px !important;
    padding-top: 7px;
  }
}

.loading-spinner {
  display: none !important;
}

ion-navbar {
  .toolbar-background {
    border-bottom: none;
    background: transparent;
    border: none !important;
  }
  button {
    ion-icon {
      color: white;
    }
    opacity: 1;
  }
  .toolbar-title {
    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    // margin-top: 10px;
  }
}

ion-toolbar {
  // &.shrinking-header {
  //   padding: 4px 4px 0px 4px;
  // }
}

.header-md {
  &:after {
    background-image: none;
  }
}

.list-header {
  background-color: transparent;

  .label {
    color: rgba(0,0,0, 0.6);
  }
}


.gradient-bg {
  margin-top: 0px !important;
  padding-top: 44px !important;
  background: rgba(255,111,67,1);

  background: -moz-linear-gradient(-45deg, rgba(255,167,112,1) 0%, rgba(255,111,67,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,167,112,1)), color-stop(100%, rgba(255,111,67,1)));
  background: -webkit-linear-gradient(-45deg, rgba(255,167,112,1) 0%, rgba(255,111,67,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(255,167,112,1) 0%, rgba(255,111,67,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255,167,112,1) 0%, rgba(255,111,67,1) 100%);
  background: linear-gradient(135deg, rgba(255,167,112,1) 0%, rgba(255,111,67,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa770', endColorstr='#ff6f43', GradientType=1 );
}

.gradient-bg-login {
  background: rgba(255,111,67, 1);
  background: -moz-linear-gradient(-45deg, rgba(255,167,112,1) 0%, rgba(255,111,67,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,167,112,1)), color-stop(100%, rgba(255,111,67,1)));
  background: -webkit-linear-gradient(-45deg, rgba(255,167,112,1) 0%, rgba(255,111,67,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(255,167,112,1) 0%, rgba(255,111,67,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255,167,112,1) 0%, rgba(255,111,67,1) 100%);
  background: linear-gradient(135deg, rgba(255,167,112,1) 0%, rgba(255,111,67,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa770', endColorstr='#ff6f43', GradientType=1 );
}

.grid {
  // position: absolute;
  // background-color: transparent;
  // background-image: linear-gradient(0deg, transparent 24%, rgba(0,0,0, .05) 25%, rgba(0,0,0, .05) 26%, transparent 27%, transparent 74%, rgba(0,0,0, .05) 75%, rgba(0,0,0, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(0,0,0, .05) 25%, rgba(0,0,0, .05) 26%, transparent 27%, transparent 74%, rgba(0,0,0, .05) 75%, rgba(0,0,0, .05) 76%, transparent 77%, transparent);
  // height: 100%;
  // background-size: 50px 50px;
  // position: absolute;
}

ion-fab {
  button {
    box-shadow: 0px 0px 20px rgba(0,0,0,0.25);
  }
}

.card {
  margin: 6px 12px;
}

.counter {
  padding: 4px 8px;
}

.md {
  .counter {
    // padding: 8px 8px 4px 8px !important;
    padding: 4px 8px 2px 8px !important;
  }

  .toolbar-title-md {
    padding: 4px 12px !important;
    font-size: 1.4rem;
  }
  ion-toolbar {
    min-height: 44px;
  }
  .toolbar {
    padding: 0px;
    .segment {
      .segment-button {
        font-size: 1.2rem;
        text-transform: none;
      }
    }
  }

  .menu-styles {
    .scroll-content {
    }
    .menu-header {
      .selecionar-programa {
        .item-inner {
          .label {
            .bar-buttons {
              text-align: center;
              button {
                &:before {
                  content: '';
                  top: 2px;
                }
                ion-icon {
                  &:before {
                    line-height: 1.8;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.menu-styles {
  .scroll-content {
    padding-top: 0px !important;
  }
  .menu-header {
    height: 215px;
    background: color($colors, marrombgmenu);

    ion-avatar {
      padding-top: 40px;
      width: 70px;
      margin: 0 auto;

      img {
        @include border-radius(100%);
      }
    }
    h1 {
      margin: 10px 0px 0px 0px;
      color: white;
      font-size: 1.8rem;
      text-align: center;
    }

    .selecionar-programa {
      background: color($colors, marrombgmenu);
      min-height: 5.2rem;
      padding: 10px 0px;
      .item-inner {
        border-bottom: 0px;
        .label {
          position: absolute;
          width: 100%;
          margin-top: 0px;
          // left: 6px;
          left: 0px;
          .bar-buttons {
            text-align: center;
            button {
              color: white;
              padding: 0px 2px 0px 1em !important;
              &:before {
                content: '';
                width: 33px;
                height: 33px;
                position: absolute;
                width: 100%;
                left: 0px;
                top: 6px;

                @include border-radius(50px);
                background-color: #372522;
                z-index: -1;
              }
              .button-inner {
                font-size: 1.3rem;

                ion-icon {
                  // margin-top: .50px;
                  background-color: color($colors, laranjahigh);
                  color: color($colors, white);
                  // margin-left: 150px;
                  margin-left: 20px;
                  width: 29px;
                  height: 29px;
                  @include border-radius(50px);
                  &:before {
                    font-size: 2rem;
                    line-height: 1.6;
                  }
                }

              }
            }
          }
        }
      }
    }

  }
  hr {
    width: 90%;
  }
  .list {
    // padding: 10px;
    margin: -1px 0px 5px;
    .list-header {
      .label {
        font-size: 1.1rem;
        color: color($colors, lblmenuheader);
      }
    }
    .item {
      &:not(.list-header) {
        .label, .icon {
          color: color($colors, marrommenu);
        }
        .label {
          font-size: 1.5rem;
        }
        p {
          color: white;
          padding-left: 40px;
        }
        .icon {
          font-size: 2.1rem;
          line-height: 1.3;
        }
      }
    }
    &.secondary-list {
      margin-top: 10px;
      margin-bottom: 0px;
      // .item {
      //   &:last-child {
      //     height: 50px;
      //     background-color: color($colors, laranjahigh);
      //     .label, .icon {
      //       color: white;
      //     }
      //     p {
      //       color: white;
      //       padding-left: 34px;
      //     }
      //     .icon {
      //       position: absolute;
      //       margin-top: -3px;
      //     }
      //   }
      // }
    }
  }
}

.footer {
  .list {
    margin: 0px;
    button {
      height: 44px;
      background-color: color($colors, laranjahigh);
      text-align: left;
      margin: 0px;
      @include border-radius(0px);
      .button-inner {
        justify-content: normal;
        p {
          font-size: 1.4rem;
          text-transform: none;
        }
      }

      .label, .icon {
        color: white;
      }
      p {
        color: white;
        // padding-left: 34px;
      }
      .icon {
        // position: absolute;
        // margin-top: -6px;
      }
    }
    // .item {
    //   &:last-child {
    //     height: 50px;
    //     background-color: color($colors, laranjahigh);
    //     .label, .icon {
    //       color: white;
    //     }
    //     p {
    //       color: white;
    //       padding-left: 34px;
    //     }
    //     .icon {
    //       position: absolute;
    //       margin-top: -6px;
    //     }
    //   }
    //   small {
    //     font-style: italic;
    //     font-weight: normal;
    //     color: color($colors, formlabel);
    //   }
    // }
  }
}




.alert {
  &:before {
    font-family: 'ionicons', sans-serif;
    content: "\f28c";
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: -20px;
  }
  color: red;
  text-align: center;
  font-size: 1.2rem;
}


// .alertcss [aria-checked=true] .alert-radio-inner {
//   color: color($colors, alert) !important;
// }
.alertcss [aria-checked=true] {
  .alert-radio-inner {
    border-color: color($colors, alert) !important;
  }
  .button-inner {
    .alert-radio-label {
      color: color($colors, alert);
    }
  }
}

.alertcss {
  .alert-wrapper {
    @include border-radius(4px);
    .alert-title {
      color: #333;
      font-size: 1.4rem;
    }
    .alert-button {
      color: color($colors, alert);
      &:last-child {
        color: color($colors, white);
        background-color: color($colors, alert);
      }
    }
  }
}


.filteralert [aria-checked=true], .select-alert [aria-checked=true] {
  .alert-radio-inner {
    border-color: color($colors, alert) !important;
  }
  .button-inner {
    .alert-radio-label {
      color: color($colors, alert);
    }
  }
  .alert-checkbox-icon {
    background-color: color($colors, laranjahigh);
    border-color: transparent;
  }
}

.filteralert, .select-alert {
  .alert-wrapper {
    @include border-radius(4px);
    .alert-title {
      color: #333;
      font-size: 1.4rem;
    }
    .alert-button {
      color: color($colors, laranjahigh);
      // &:last-child {
      //   color: color($colors, white);
      //   background-color: color($colors, primary);
      // }
    }
  }
}



// custom preloader animation

.loading-wrapper {
  width: 100% !important;
  height: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  background: transparent !important;
}

// $size: 284px;
$size: 80px;

// body{
//   background-color: #000;
//   margin: 0;
// }

.radar {
  // background: url(https://gtms03.alicdn.com/tps/i3/TB1Vet9IVXXXXbuapXXb2YSIVXX-567-567.png) no-repeat 50% 50%;
  width: $size;
  height: $size;
  position: relative;
  background-size: $size $size;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -$size / 2;
  margin-top: -$size / 2;
}

// .radar:hover {
//   background: none;
// }
.radar {
  .pointer {
    position: absolute;
    z-index: 1024;
    left: 10.5820106%;
    right: 10.5820106%;
    top: 10.5820106%;
    bottom: 50%;
    will-change: transform;
    transform-origin: 50% 100%;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    background-image: linear-gradient(135deg,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(0, 0, 0, 0.02) 70%,
      rgba(0, 0, 0, 0) 100%
    );
    clip-path: polygon(100% 0,
      100% 10%, //控制扇形角度 100% => 135deg
      50% 100%, 0 100%, 0 0);

    animation: rotate360 3s infinite linear;
    &:after {
      content: "";
      position: absolute;
      width: 50%;
      bottom: -1px;
      border-top: 2px solid rgba(255, 226, 0, 0.8);
      box-shadow: 0 0 3px rgba(255, 226, 0, 0.6);
      border-radius: 9px;
    }
  }
}

.shadow {
  position: absolute;
  left: 11%;
  top: 11%;
  right: 11%;
  bottom: 11%;
  margin: auto;
  border-radius: 9999px;
  // box-shadow: 0 0 66px 6px #A51414;
  box-shadow: 0 0 66px 6px #ddd;
  animation: shadow 1s infinite ease;
}


@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes shadow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

ion-backdrop {
  opacity: 0.3;
  // background-color: rgba(255,111,67, 1)
  background-color: rgba(0,0,0, 1)
}


// ion-popover {
//   .popover-wrapper {
//     .popover-content {
//       @include border-radius(4px);
//       width: 280px;
//       margin-left: -140px;
//       left: 50% !important;
//       transform-origin: initial;
//     }
//   }
// }

ion-popover {
  .popover-wrapper {
    @include border-radius(0px);
    .popover-content {
      @include border-radius(0px);
      width: 100%;
      // margin-left: -140px;
      top: 0px !important;
      left: 0px !important;
      // transform-origin: left top 0px;
      // transform-origin: initial;
    }
  }
}


.add-activity {
  background-color: color($colors, marrom);
  .tab-button-icon {
    color: color($colors, white);
  }
  &.activated {
    background-color: lighten(color($colors, marrom), 10%);
  }
}

// ion-spinner * {
//   // width: 28px;
//   // height: 28px;
//   stroke: #bada55;
//   fill: #f00;
// }

ion-spinner {
  * {
    stroke: #fff !important;
  }

  &.spinner-circles circle,
  &.spinner-bubbles circle,
  &.spinner-dots circle {
    fill: #fff !important;
  }
}

.toast-ios {

  &.toast-erro, &.toast-sucesso {
    .toast-wrapper {
      // background: red;
      left: 24px;
      right: 24px;
      top: 24px;
      &.toast-top {
        top: 15px;
      }
    }
  }

}

.toast-ios {
  &.toast-wrapper {
    left: 20px;
    right: 20px;
    top: 20px;
  }
}


// fading header
ion-navbar, ion-toolbar {
  transition: background-color .3s ease-in;
  .back-button,.bar-button{
    color: #fff;
  }
}

// .header-md::after{
//   background-image: none;
// }

//************ Fading header  **********//
.show-background {
  border-style: none;
  background-color: #fd9669;
  // background-color: red;
}
.transition {
  transition: background-color .3s ease-in;
}
// fading header
