page-participante {

  .title {
    margin-top: 7px;
  }

  .list-header {
    margin-bottom: 3px;

    .label {
      color: #FFF;
    }
  }

  .title-form {
    color: #FFF;
    margin-bottom: 15px;
  }
}
